**/db/migration/*.sql
!**/db/migration/*seed*.sql
dns/
.env
.env.*
!.env.example
!.env.sample

*.pem
*.key
*.p8
*.p12
*.pfx
*.jks
*.keystore

credentials
.aws/

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/tfplan*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/terraform.tfvars
**/*.auto.tfvars
**/*.auto.tfvars.json
**/.terraformrc
**/terraform.rc
!**/.terraform.lock.hcl

**/node_modules/
**/dist/
**/target/
**/*.log
**/ng-serve.out.log
**/ng-serve.err.log

**/secrets.local.*
**/*secret-values*.json
**/*credentials*.json
