@import '../login-page/login-page.component.scss';

.auth-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.1rem;

  @media (max-width: 540px) {
    grid-template-columns: 1fr;
  }
}
